/*
    fundo #efefef
*/

*{
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    style: none;
}

body{
    background-color: #eaeaea;
}
/*
    Lateral
*/
#barra-lateral{
    color: #181818;
    height: 100%;
    position: fixed;
    background: red;
    padding:1.5em 1em 0 1em;
    background: #f6f6f6;
}

.titulo *{
    font-size:4em;
    font-weight: bolder;
    line-height: 90%;
}
.titulo h3{
    font-size:2.3em;
}

#barra-lateral hr{
    border: 0;
    border-top: solid #181818 5px;
    margin: 0.4em 0 3em 0;
}

#barra-lateral ul{
    list-style: none;

}

#barra-lateral ul li{
    padding:0.3em 0 0 0.3em ;
    line-height: 1.5em;
    margin-bottom: 1em;
    display:block;
    height: 1.5em;
    font-size: 1.4em;
    overflow:hidden;
}

#barra-lateral ul li.submenu ul li{
    border-left: solid 4px #181818;
    margin: 0;
    margin-left: 0.7em;
    font-size: 0.8em;
}

@keyframes submenu-ras {
  from {height: 1.2em; margin-bottom: 1em;}
  to {height: 8.2em; margin-bottom: 0.3em;}
}
li.rasterizacao:hover{
    animation-name: submenu-ras;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#barra-lateral a {
    color: #181818;
    text-decoration: none;
}

/*
        Centro
*/

#principal{
    position: relative;
    left: 12.3em;
    top: 0.8em;
    width: calc(100% - 12.4em);
}

#conteudo{
    width: 95%;
    margin: 0 auto;
    border: solid blue 1px;
    background: #f6f6f6;

}
